.current-GDP {
    display: flex;
    gap: 8px;

    &__item {
        padding: 30px 0;
        width: 100%;
        text-align: center;
        color: var(--primary-font-color);
        background-color: var(--secondary-bg-color);
        border-radius: 6px;

        &--title {
            font-size: 16px;
        }
        
        &--sub {
            margin-top: 5px;
            font-size: 12px;
            color: var(--secondary-font-color);
        }
        
        &--value {
            margin-top: 14px;
            font-size: 36px;
        }
    }
}

@media screen and (max-width: 900px) {
    .current-GDP {
        display: grid;
    }
}

@media screen and (max-width: 480px) {
    .current-GDP {
        &__item {
            &--value {
                font-size: 27px;
            }
        }
    }
}
