.GDP-dynamics {
    padding-top: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--secondary-bg-color);
}

@media screen and (max-width: 430px) {
    .GDP-dynamics {
        height: 300px;
    }
}